* {
    box-sizing: border-box;
}

body {
    background: #000000;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    height: calc(1%);
    background: linear-gradient(135deg, rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(0 ,0,0,0.37);
}

.navigation-container img {
    width: calc(15%);
}

.navigation-container .header-label {
    display: flex;
    width: calc(70%);
    justify-content: center;
    border: purple solid 10px;
}

.item {
    font-weight: light;
    font: "Times new roman";
    text-align: center;
    color:#ffffff;
    border: 2px solid #ff0000;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 53px;
}

.navigation-container>img {
    justify-content: center;
    align-content: center;
}

.navigation-container>.header-button {
    display: flex;
    justify-content: center;
    width: calc(15%);
}

.navigation-container>.header-button>.requests {
    width: 100px;
    height: 50px;
    align-self: center;
    margin: 5px;
    border-radius: 30px;
    background-color: orange;
    border: 0px;
}

.navigation-container>.header-button>.telegramm {
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 5px;
    border-radius: 53px;
    background-color: grey;
    border: 0px;
}